* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

nav.navbar-default {
    background-color: #999999;
    border: 2px solid black;
    border-radius: 0;
}

#navbar-brand {
    color: black;
    font-size: 2em;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    color: black !important;
    font-size: 1.2em;
}

.navbar-default .navbar-toggle {
    border: 1.5px solid black !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black !important;
}

h2#h2-site {
    font-weight: bold;
    margin-bottom: 25px;
}

div.col-lg-4.col-md-6.col-sm-12 {
    background-color: #999999;
    margin: 10px;
    padding: 10px;
    border: 1.5px solid black;
}

section {
    color: black;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 3px;
    font-weight: bold;
}

p {
    color: black;
}

@media (min-width: 992px) {
    div.col-lg-4 {
        width: calc(33.33333333% - 20px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    div.col-md-6 {
        width: calc(50% - 20px);
    }
    
    div.col-md-6:nth-child(3) {
        width: calc(100% - 20px);
        clear: left;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    div.col-sm-12 {
        width: calc(100% - 20px);
    }
}